<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy ittle"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short Description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Image link</label>
        <input
          type="number"
          name="listing[image]"
          placeholder="Enter image URL"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price</label>
          <input
            name="listing[price]"
            placeholder="ex- 1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="ex- India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a Country .</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="ex- Bokaro, Jharkhand"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a Location.</div>
      </div>
      <button class="btn btn-dark add-btn mb-3">Add</button>
    </form>
  </div>
</div>
